<% @good_fits.id%>
  <h2>SEASON: </h2> <p><%= @good_fits.season %></p>
  <br>
  <h2>TOP: </h2> <p><%= @good_fits.top %></p>
  <br>
  <h2>BOTTOM: </h2> <p><%= @good_fits.bottom %></p>
  <br>
  <h2>FOOTWEAR: </h2> <p><%= @good_fits.footwear %></p>
  <br>


<a href= "/good_fits/<%= @good_fits.id %>/edit">Edit This Outfit</a>
